language: python
sudo: false
branches:
  only:
    - master
python:
  - "2.7"
  - "3.5"
addons:
  apt:
    packages:
    - libblas-dev
    - liblapack-dev
    - gfortran
    - graphviz
before_install:
  - pip install -U pip setuptools wheel
install:
  - travis_wait travis_retry pip install -r requirements.txt
  - travis_retry pip install -e .[all]
  - mkdir -p ~/scikit_learn_data/mldata
  - wget -P ~/scikit_learn_data/mldata https://github.com/amplab/datascience-sp14/raw/master/lab7/mldata/mnist-original.mat
script: py.test
cache:
  - apt
  - directories:
    - $HOME/.cache/pip
    - $HOME/.theano
